  <header class="header clearfix">
    <a><%= link_to 'ホーム', blogs_path , class: "btn_home" %></a>
    <a><%= link_to 'つぶやき', new_blog_path ,  class: "btn_new" %></a>
  </header>
  <div class="div_header">
    <a class="area_logo">生きてればいい事あるさ〜。</a>
  </div>
